.main
	width 100%
	height 592px
	margin-bottom 72px
	.main1
		margin 0 auto
		width 1200px
		height 592px		
		.main2
			padding-top 92px
			width 1200px
			height 184px
			text-align center
			// border 1px solid red
			label
				margin-top 8px
				display block
				font-size 14px
				color rgb(51,51,51)
			.main3
				position relative
				margin 0 auto
				margin-top 20px
				width 500px
				// height 390px
				border 1px solid rgb(220,220,220)
				background-color rgb(255,255,255)
				.Img
					position absolute
					top -164px
					right 0
				>div
					>a
						float left
						display block
						width 249px
						height 50px
						color rgb(51,51,51)
						font-size 16px
						line-height 50px
						&.hov
							&:hover
								color rgb(255,68,102)
						&.aDiv
							background-color rgb(237,237,237)
						&.aa
							background-color rgb(237,237,237)
							&:hover
								color rgb(255,68,102)
						&.bb
							background-color rgb(255,255,255)							
				.main4.one
					padding 26px
					width 498px
					height 338px
					display none
					span
						margin 0 auto
						padding 16px 0
						display block
						width 310px
						height 76px
						font-size 16px
						line-height 1.4
						color rgb(51,51,51)	
						text-align left
					.ipt
						margin 0 auto
						padding 16px 0
						width 310px
						height 78px
						input
							padding 8px
							width 310px
							height 46px
							font-size 16px
							border-radius 2px
							border 1px solid rgb(170,170,170)
							&:focus
								outline 0
								border 1px solid rgb(0,209,193)
					.sbm
						margin 0 auto
						padding 12px 0
						width 310px
						height 70px
						button
							width 310px 
							height 46px
							color rgb(204,204,204)
							border-radius 2px
							border 1px solid rgb(236,236,236)
							background-color rgb(250,250,250)
							cursor no-drop
					p
						margin 0 auto
						padding 12px 0
						width 310px
						height 64px	
						font-size 14px
						line-height 1.4	
						text-align left	
						a
							color rgb(255,68,102)
							&:hover
								text-decoration underline
				.main4.two
					position relative
					padding 26px
					width 498px
					height 292px
					.bigDiv	
						position relative					
						margin 0 auto
						padding-top 18px
						width 310px
						height 210px					
						.imgDiv
							margin 0 auto
							width 160px
							height 160px
							border 1px solid rgb(170,170,170)									
						.txt
							margin-top 10px
							font-size 16px
							line-height 22px
							color rgb(51,51,51)
					.bigDiv1
						position absolute
						top 26px
						left 150px	
						opacity 0					
					.txt1
						margin-top 12px
						>span
							font-size 14px
							line-height 19px
							color rgb(153,153,153)
							&:hover
								cursor help 
							